.page {
    min-width: 320px;
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    background: #2A2C2F;
}