.cover__title {
  position: relative;
  max-width: 560px;
  margin: 0;
  font-size: 72px;
  font-weight: 900;
  line-height: calc(76 / 72 * 100%);
  text-align: center;
}

@media (max-width: 767px) {
  .cover__title {
    max-width: 252px;
    font-size: 32px;
    line-height: calc(35 / 32 * 100%);
  }
}