.place__url {
  grid-row: 1;
  grid-column: 2;
  align-self: end;
  padding: 0 0 30px;
  margin: 0;
  font-size: 12px;
  line-height: calc(12 / 12 * 100%);
  color: #aaa;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 767px) {
  .place__url {
    align-self: baseline;
    padding-bottom: 12px;
    padding-left: 16px;
  }
}